.DS_Store 
gitmerge.sh 
dist 
hypernetx.egg-info*
hypernetx.egg-info/PKG-INFO
hypernetx.egg-info/requires.txt
stashmerge.sh
homology_log.log
logfiles/
stashmerge.sh
jacksnbs
demos

__pycache__
*.ipynb_checkpoints
build/lib/hypernetx
build2
push_commits.sh
hg_constructors1.py
untitled*
Untitled*
pypipush.sh
experimental
tutorials/h2d-hnx-why_v5.tar.gz
vis_develop
dist/
*.egg-info*
.tox/
venv*