hypernetx
fastjsonschema
# autocommand==2.2.2 # Installed as dependency for jaraco.text
# celluloid==0.2.0 # Installed as dependency for hypernetx
# certifi==2025.8.3 # Installed as dependency for requests
# charset-normalizer==3.4.2 # Installed as dependency for requests
# contourpy==1.3.3 # Installed as dependency for matplotlib
# cycler==0.12.1 # Installed as dependency for matplotlib
# decorator==5.2.1 # Installed as dependency for hypernetx
# fonttools==4.59.0 # Installed as dependency for matplotlib
# idna==3.10 # Installed as dependency for requests
# igraph==0.11.9 # Installed as dependency for hypernetx
# inflect==7.3.1 # Installed as dependency for jaraco.text
# jaraco.context==5.3.0 # Installed as dependency for jaraco.text
# jaraco.functools==4.0.1 # Installed as dependency for jaraco.text
# jaraco.text==3.12.1 # Installed as dependency for jaraco.collections
# joblib==1.5.1 # Installed as dependency for scikit-learn
# kiwisolver==1.4.8 # Installed as dependency for matplotlib
# matplotlib==3.10.5 # Installed as dependency for celluloid
# more-itertools==10.3.0 # Installed as dependency for inflect, jaraco.functools, jaraco.text
# networkx==3.5 # Installed as dependency for hypernetx
# numpy==2.3.2 # Installed as dependency for contourpy, matplotlib, pandas, scikit-learn, scipy
# packaging==25.0 # Installed as dependency for matplotlib
# pandas==2.3.1 # Installed as dependency for hypernetx
# pillow==11.3.0 # Installed as dependency for matplotlib
# pyparsing==3.2.3 # Installed as dependency for matplotlib
# python-dateutil==2.9.0.post0 # Installed as dependency for matplotlib, pandas
# pytz==2025.2 # Installed as dependency for pandas
# requests==2.32.4 # Installed as dependency for hypernetx
# scikit-learn==1.7.1 # Installed as dependency for hypernetx
# scipy==1.16.1 # Installed as dependency for hypernetx, scikit-learn
# six==1.17.0 # Installed as dependency for python-dateutil
# texttable==1.7.0 # Installed as dependency for igraph
# threadpoolctl==3.6.0 # Installed as dependency for scikit-learn
# typeguard==4.3.0 # Installed as dependency for inflect
# typing-extensions==4.12.2 # Installed as dependency for typeguard
# tzdata==2025.2 # Installed as dependency for pandas
# urllib3==2.5.0 # Installed as dependency for requests
# zipp==3.19.2 # Installed as dependency for importlib-metadata
